# Ignore everything by default
*

# Track only specific files
!.gitignore
!Islands_Research_Study_Proposal.docx
!Power_and_Sample_Size_Equations.docx
!The Islands Research Study - Proposal Notes - Brad Kreider.docx
!The Islands Data Analysis Project - Brad Kreider (formatted v3).docx
!Islands_Study_Tracker.xlsx
